<div class="site-menubar">
    <div class="site-menubar-body scrollable scrollable-inverse is-enabled scrollable-vertical hoverscorll-disabled"
        style="position: relative;">
        <!-- <div class="scrollable-container" style="height: 646.984px; width: 277px;">
            <div class="scrollable-content" style="width: 260px;"> -->
                <ul class="site-menu">
                    <li class="site-menu-item">
                        <a href="/">
                            <span class="material-symbols-outlined site-menu-icon">pie_chart</span>
                            <span class="site-menu-title">Overview</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a href="/manageStatic">
                            <span class="material-symbols-outlined site-menu-icon">camera</span>
                            <span class="site-menu-title">Manage</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a href="/staticReport">
                            <span class="material-symbols-outlined site-menu-icon">library_books</span>
                            <span class="site-menu-title">Report</span>
                            <!-- <span class="material-symbols-outlined site-menu-arrow">chevron_right</span> -->
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a href="/buildingSetting">
                            <span class="material-symbols-outlined site-menu-icon">settings</span>
                            <span class="site-menu-title">Settings</span>
                        </a>
                    </li>
                </ul>
            <!-- </div>
        </div> -->
        <!-- <div class="scrollable-bar scrollable-bar-vertical scrollable-bar-hide" draggable="false"><div class="scrollable-bar-handle" style="height: 529.364px;"></div></div></div> -->
    </div>
</div>